* {
  box-sizing: border-box;
  color: #555;
  margin: 0;
  padding: 0;
}

html {
  background-color: #eee;
}

header {
  display: flex;

  vertical-align: middle;
  align-items: center;
  justify-content: space-between;

  background-color: #cdcdcd;
}

.title {
  width: 100%;
  text-align: center;
  margin: 4px;
}

.add-button {
  margin: 16px;
  cursor: pointer;
}

#main {
  padding: 8px;
}

/*taskList*/
.task-element-edge{
  margin: 8px 0;
}

.task-element {
  display: flex;
  justify-content: space-between;

  padding: 8px 16px 8px 16px;
  align-items: center;

  border-radius: 8px;

  background-color: #cdcdcd;
  cursor: pointer;
}

.task-del-button {
  margin: 16px;
  cursor: pointer;
}







